<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="bg-light">
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= recipe.name %></div>
    <div>Servings: </div>
    <div><%= recipe.servings %></div>
    <div>Time to Prepare: </div>
    <% if (recipe.prep > 1) { %> 
    <div><%= recipe.prep %> Minutes</div>
    <% } else { %>
    <div><%= recipe.prep %> Minute</div>
    <% } %> 
    <div>Time to Cook:</div>
    <% if (recipe.cook > 1) { %> 
    <div><%= recipe.cook %> Minutes</div>
    <% } else { %>
    <div><%= recipe.cook %> Minute</div>
    <% } %> 
    <div>Ingredients:</div>
    <div class="list-group">
    <% recipe.ingredients.forEach(function(ingredient) { %>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="">
        <%= ingredient %> 
      </label>
      <% }) %>
    </div>
    <div>Instructions:</div>
    <div class="list-group">
      <% recipe.description.forEach(function(step) { %>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          <%= step %> 
        </label>
        <% }) %>
      </div> 
  </section>
<% if (recipe.owner.equals(user?.profile._id)) { %> 
  <h2>Notes</h2>
  <form 
    id="add-notes-form"
    action="/recipes/<%= recipe._id %>/notes"
    method="POST"
  >
    <label for="content-textarea">Notes:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Note</button>
  </form>
  <% } %> 

	<% if (recipe.notes.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.notes.forEach(function(note) { %>
          <tr>
            <td><%= note.createdAt.toLocaleDateString() %></td>
            <td><%= note.content %></td>
            <% if (recipe.owner.equals(user?.profile._id)) { %>
            
            <td> <a href="/recipes/<%= recipe._id %>/edit " class="card-link"><button type="button" class="btn">📝</button></a></td>
            <td><form action="/recipes/<%= recipe._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
            <button class="btn">❌</button>
            </form></td>
            <% } %> 
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Notes Yet</h3>
  <% } %>
</main>


<%- include('../partials/footer') %>