<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= recipe.name %></div>
    <div>Servings: </div>
    <div><%= recipe.servings %></div>
    <div>Time to Prepare: </div>
    <div><%= recipe.prep %></div>
    <div>Time to Cook:</div>
    <div><%= recipe.cook %></div>
    <div>Ingredients:</div>
    <div><%= recipe.ingredients %> </div>
    <div>Description:</div>
    <div><%= recipe.description %></div> 
  </section>
<% if (recipe.owner.equals(user?.profile._id)) { %> 
  <h2>Notes</h2>
  <form 
    id="add-notes-form"
    action="/recipes/<%= recipe._id %>/notes"
    method="POST"
  >
    <label for="content-textarea">Notes:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Note</button>
  </form>
  <% } %> 

	<% if (recipe.notes.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.notes.forEach(function(note) { %>
          <tr>
            <td><%= note.createdAt.toLocaleDateString() %></td>
            <td><%= note.content %></td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Notes Yet</h3>
  <% } %>
</main>


<%- include('../partials/footer') %>